@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


:root{
    --headers-type: 'Frijole', cursive;
    --paragraphs-type: 'Oswald', sans-serif;
    --button-background: rgb(151, 151, 151);
}

body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

html { 
    height: 100%; 
}

.columns {
    max-width:200px;
    min-width:200px;
    text-align:center;
    margin:0 0px;
}

.statColumn {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: space-around;
    max-width:100px;
    min-width:100px;
    width:100px;
    height:290px;
}

h1 {
    font-family: var(--headers-type);
}

h2 {
    font-family: var(--paragraphs-type);
}

h3 {
    font-family: var(--paragraphs-type);
}

h4 {
    font-family: var(--paragraphs-type);
}

p {
    font-family: var(--paragraphs-type);
}

.textCenter {
    text-align:center;
}

/* Portrait Styles */
.sigil{
    max-width:100px;
}

.portrait {
    max-width:200px;
    width:200px;
}

.uppercase {
    text-transform: uppercase;
    font-family: var(--paragraphs-type);

}

/* Stat Styles */
.flexRow {
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.flexRowCenter {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.flexStart {
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

.flexRowBetween {
    display:flex;
    justify-content: space-around;
    align-items:center;
}

.stats img {
    max-width:50px;
}

.coinWrapper {
    position:relative;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.coinWrapper img{
    max-width:100px;
    width:100px;
}

.coinValue {
    display:inline-block;
    margin:0;
    text-align:center;
    vertical-align: center;
    line-height: 100px;
    font-size:50px;
    top:-2px;
    color:white;
    text-shadow: black -2px 2px 2px;
    position:absolute;
}